body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a{
  display: inline-block;
  text-decoration: none;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}
